<div class="container">
  <div class="d-grid gap-2 my-3 col-8 mx-auto">
    <h2><strong>Task</strong></h2>

    <p></p>

    <div class="d-grid gap-2 col-10 text-center">
      <button class="btn btn-sm mb-3 btn-block btn-info">
        <%= link_to "Log in", new_user_session_path, class: 'nav-link text-white' %>
      </button>

      <button class="btn btn-sm btn-block btn-success">
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-white' %>
      </button>
    </div>
  </div>
</div>